[Desktop Entry]
Comment=Use the command line the old way
Exec=cool-retro-term-pro
GenericName=Pro Terminal emulator
Icon=cool-retro-term-pro
Name=Cool Retro Term Pro
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Type=Application
Keywords=shell;prompt;command;commandline;
